@model Setting   
<footer>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="title">
                            <h3><b>Location</b></h3>
                        </div>
                        <span>2215 John Daniel Drive</span> <br>
                        <span>Clark, MO 65243</span>
                    </div>
                    <div class="col-lg-4">
                        <div class="title">
                            <h3><b>AROUND THE WEB</b></h3>
                        </div>
                        <ul class="social-medias">
                            <li><a href="#"><i class="@Model.FacebookIcon"></i></a></li>
                            <li><a href="#"><i class="@Model.TwitterIcon"></i></a></li>
                            <li><a href="#"><i class="@Model.LinkedinIcon"></i></a></li>
                            <li><a href="#"><i class="@Model.BasketIcon"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="title">
                            <h3><b>ABOUT FREELANCER</b></h3>
                        </div>
                        <span>Freelance is a free to use, MIT licensed</span> <br>
                        <span>Bootstrap theme created by <a href="#">@Model.Link.</a></span>
                    </div>
                </div>
            </div>
        </section>
        <section id="end">
            <div class="container">
                <div class="row">
                    <div class="end">
                        <p>Copyright © Your Website 2022</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>